@font-face {
  font-family: 'Pretendo';
  src: url("font/Pretendo.ttf") format('truetype'), url("font/Pretendo.woff") format('woff'), url("font/Pretendo.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #031921;
  color: #fff;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  touch-action: none;
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
}

input.btn-on,
input.btn-off {
  display: block;
  margin: 0 auto;
  font-family: sans-serif;
  text-align: center;
}

input.btn-hide {
  display: none;
}

.gameboy {
  position: relative;
  display: block;
  margin: 20px auto;
  width: 422px;
  height: 397px;
  background: #ffcc00;
  border-radius: 10px 10px 60px 10px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

.gameboy:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 31px;
  border-bottom: 4px solid #d5b120;
}

.gameboy:after {
  content: "";
  position: absolute;
  top: 0;
  width: 334px;
  height: 31px;
  border-left: 4px solid #d5b120;
  border-right: 4px solid #d5b120;
  margin-left: 40px;
  margin-right: 40px;
}

.gameboy .screen-cont {
  position: relative;
  top: 60px;
  left: 40px;
  width: 342px;
  height: 272px;
  margin-bottom: 58px;
  background-color: #777;
  border-radius: 13px 13px 50px 13px;
}

.gameboy .screen-cont .screen {
  position: relative;
  top: 30px;
  margin-left: auto;
  margin-right: auto;
  background: #183442;
  width: 225px;
  height: 205px;
  box-shadow: inset 3px 3px rgba(0, 0, 0, 0.15);
}

.gameboy .screen-cont .screen .header {
  position: relative;
  top: -30px;
  width: 100%;
  height: 30px;
  padding-top: 10px;
  box-sizing: border-box;
  text-align: right;
  font-size: 10px;
  font-family: sans-serif;
  color: #b7b7b7;
}

.gameboy .screen-cont .screen .header:before {
  content: "";
  position: absolute;
  left: -43px;
  top: 12px;
  width: 90px;
  height: 3px;
  background-color: #8b1d90;
  box-shadow: 0 6px 0 #283593;
}

.gameboy .screen-cont .screen .header:after {
  content: "";
  position: absolute;
  right: -46px;
  top: 12px;
  width: 38px;
  height: 3px;
  background-color: #8b1d90;
  box-shadow: 0 6px 0 #283593;
}

.gameboy .screen-cont .screen .animated-text {
  opacity: 0;
  display: inline;
  position: relative;
  top: -26px;
  left: 30%;
  color: #8a891f;
  font-size: 17px;
  font-family: "Pretendo";
  z-index: 10;
}

.gameboy .screen-cont .screen .animated-text.end {
  opacity: 1;
  top: 50px;
  -webkit-transition: top 3s linear;
  -moz-transition: top 3s linear;
  -ms-transition: top 3s linear;
  -o-transition: top 3s linear;
  transition: top 3s linear;
}

.gameboy .screen-cont .screen .animated-text .copy {
  position: relative;
  display: inline;
  top: -2px;
  margin-left: 2px;
  font-size: 15px;
  font-family: monospace;
}

.gameboy .screen-cont .power {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 100px;
  left: 20px;
  border-radius: 100%;
  background-color: #b98181;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.gameboy .screen-cont .power:before {
  content: "BATTERY";
  position: relative;
  top: 18px;
  left: -10px;
  font-size: 8px;
  font-family: sans-serif;
  color: #aaa;
}

.gameboy .screen-cont .power.power-on {
  background-color: #f00;
  box-shadow: 0 0 3px 1px #ef5350;
}

.gameboy .speakers {
  content: "";
  position: relative;
  height: 40px;
  width: 8px;
  top: 10px;
  left: 340px;
  background: #d5b120;
  border-radius: 4px;
  -webkit-transform: rotate(-25deg);
  box-shadow: 20px 0 #d5b120, 40px 0 #d5b120, 40px 0 #d5b120;
}

.phones {
  position: absolute;
  bottom: 4px;
  left: 50%;
  padding: 3px 5px;
  transform: translateX(-50%);
  color: #bc9c19;
  background-color: #d5b120;
  font-size: 8px;
  font-family: sans-serif;
  text-transform: uppercase;
  border-radius: 30px;
}

.phones:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 5px;
  bottom: -4px;
  background-color: #d5b120;
  left: 9px;
}

.phones:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 5px;
  bottom: -4px;
  left: 12px;
  background-color: #bc9c19;
  box-shadow: 5px 0 #bc9c19;
  border-radius: 4px 4px 0 0;
}

.on-off {
  position: absolute;
  top: 2px;
  left: 20%;
  padding: 3px 5px;
  transform: translateX(-50%);
  color: #bc9c19;
  background-color: #d5b120;
  font-size: 8px;
  font-family: sans-serif;
  text-transform: uppercase;
  border-radius: 30px;
}

.on-off:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 5px;
  top: -2px;
  background-color: #d5b120;
  left: 6px;
}

.on-off:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 5px;
  top: -2px;
  left: 9px;
  background-color: #d5b120;
  box-shadow: 5px 0 #d5b120;
  border-radius: 0 0 3px 3px;
}

.gh-img {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

#game {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  transform: translateY(-30px) scaleY(1.01);
  touch-action: none;
}

#game canvas {
  object-fit: contain;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  height: 100%;
}

.cartridge-cont {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  justify-items: center;
  align-items: center; 
}

.cartridge {
  margin: 0.5em auto;
  width: 250px;
}

.cartridge_top {
  transform: translateY(5px);
}

.part {
  background: #ccc;
  width: 250px;
  height: 10px;
  position: relative;
}

.part_1 {
  width: 235px;
  transform: translateY(0.05px);
  border-radius: 5px 5px 0 0;
}

.part_2 {
  height: 50px;
}

.stripe {
  background: #aaa;
  height: 5px;
  top: 10px;
  margin-bottom: 5px;
}

.logo {
  width: 220px;
  height: 50px;
  margin: 0 auto -50px auto;
  top: -45px;
  border: 5px solid #ccc;
  border-radius: 20px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#aaaaaa), to(#cccccc));
  background: -webkit-linear-gradient(#aaaaaa 0%, #cccccc 100%);
  background: -moz-linear-gradient(#aaaaaa 0%, #cccccc 100%);
  background: -o-linear-gradient(#aaaaaa 0%, #cccccc 100%);
  background: linear-gradient(#aaaaaa 0%, #cccccc 100%);
}

.logo p {
  transform: translateY(2.5px);
  font-family: 'Pretendo', sans-serif;
  text-align: center;
  font-weight: bold;
  color: #aaa;
}

.logo p span {
  text-transform: uppercase;
  font-style: italic;
}

.large {
  height: 40px;
}

.dark {
  background: #B4B4B4;
  height: 180px;
  border-radius: 0 0 5px 5px;
}

.dark .part {
  width: 235px;
  margin: 0 auto;
  height: 182px;
}

.image_bg {
  width: 210px;
  margin: 0 auto -180px auto;
  top: -205px;
  border-radius: 5px;
}

.image {
  background: #aaa;
  width: 200px !important;
  height: 170px !important;
  top: 5px;
  border-radius: 5px;
}

.image img {
  width: 200px;
  height: 170px;
  border-radius: 5px;
}

.image p {
  position: absolute;
  top: 35px;
  left: 13px;
  font-size: 1.5em;
  color: #ccc;
  transform: rotate(-5deg);
  opacity: 0.7;
}

.triangle {
  background: none;
  width: 0;
  height: 0;
  border-top: 20px solid #B4B4B4;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  margin: 0 auto;
  top: -21px;
}

.gameboy-cont {
  margin-top: 150px;
  z-index: 9999;
}

.inserted-cartridge, .inserted-cartridge.cartridge {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: auto;
  z-index: -1;
}

.part_1.back {
transform: translateX(15px) translateY(0.05px);
}

.stripe.back {
  background: transparent !important;
  width: 245.5px;
  border-left: 2.5px solid #aaa;
  border-right: 2.5px solid #aaa;
}

.selected-cartridge {
  display: none;
}

.logo.back {
  text-transform: uppercase;
  width: 100px;
  height: 22px;
  margin: 0 auto -22px auto;;
  top: -60px;
  font-size: 10px;
  border: none;
  border-radius: 2.5px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#aaaaaa), to(#bebebe));
  background: -webkit-linear-gradient(#aaaaaa 0%, #bebebe 100%);
  background: -moz-linear-gradient(#aaaaaa 0%, #bebebe 100%);
  background: -o-linear-gradient(#aaaaaa 0%, #bebebe 100%);
  background: linear-gradient(#aaaaaa 0%, #bebebe 100%);
}

.logo p.back {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  text-align: center;
  color: #ccc;
  transform: translateY(5px);
}

.patent {
  font-size: 8px;
  text-transform: uppercase;
  color: transparent !important;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#aaaaaa), to(#bebebe));
  background: -webkit-linear-gradient(#aaaaaa 0%, #bebebe 100%);
  background: -moz-linear-gradient(#aaaaaa 0%, #bebebe 100%);
  background: -o-linear-gradient(#aaaaaa 0%, #bebebe 100%);
  background: linear-gradient(#aaaaaa 0%, #bebebe 100%);;
  background-clip: text;
  -webkit-background-clip: text;
  font-style: normal;
  transform: translateY(5px);
}