@font-face {
  font-family: 'Pretendo';
  src: url("font/Pretendo.ttf") format('truetype'), url("font/Pretendo.woff") format('woff'), url("font/Pretendo.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #031921;
  color: #fff;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  touch-action: none;
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
}

input.btn-on,
input.btn-off {
  display: block;
  margin: 0 auto;
  font-family: sans-serif;
  text-align: center;
}

input.btn-hide {
  display: none;
}

.gameboy {
  position: relative;
  display: block;
  margin: 20px auto;
  width: 422px;
  height: 397px;
  background: #ffcc00;
  border-radius: 10px 10px 60px 10px;
  box-shadow: 5px 5px rgba(0,0,0,0.1);
}

.gameboy:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 31px;
  border-bottom: 4px solid #d5b120;
}

.gameboy:after {
  content: "";
  position: absolute;
  top: 0;
  width: 334px;
  height: 31px;
  border-left: 4px solid #d5b120;
  border-right: 4px solid #d5b120;
  margin-left: 40px;
  margin-right: 40px;
}

.gameboy .screen-cont {
  position: relative;
  top: 60px;
  left: 40px;
  width: 342px;
  height: 272px;
  margin-bottom: 58px;
  background-color: #777;
  border-radius: 13px 13px 50px 13px;
}

.gameboy .screen-cont .screen {
  position: relative;
  top: 30px;
  margin-left: auto;
  margin-right: auto;
  background: #bdae58;
  width: 225px;
  height: 205px;
  box-shadow: inset 3px 3px rgba(0,0,0,0.15);
}

.gameboy .screen-cont .screen .header {
  position: relative;
  top: -30px;
  width: 100%;
  height: 30px;
  padding-top: 10px;
  box-sizing: border-box;
  text-align: right;
  font-size: 10px;
  font-family: sans-serif;
  color: #b7b7b7;
}

.gameboy .screen-cont .screen .header:before {
  content: "";
  position: absolute;
  left: -43px;
  top: 12px;
  width: 90px;
  height: 3px;
  background-color: #8b1d90;
  box-shadow: 0 6px 0 #283593;
}

.gameboy .screen-cont .screen .header:after {
  content: "";
  position: absolute;
  right: -46px;
  top: 12px;
  width: 38px;
  height: 3px;
  background-color: #8b1d90;
  box-shadow: 0 6px 0 #283593;
}

.gameboy .screen-cont .screen .animated-text {
  opacity: 0;
  display: inline;
  position: relative;
  top: -26px;
  left: 30%;
  color: #8a891f;
  font-size: 17px;
  font-family: "Pretendo";
  z-index: 10;
}

.gameboy .screen-cont .screen .animated-text.end {
  opacity: 1;
  top: 50px;
  -webkit-transition: top 3s linear;
  -moz-transition: top 3s linear;
  -ms-transition: top 3s linear;
  -o-transition: top 3s linear;
  transition: top 3s linear;
}

.gameboy .screen-cont .screen .animated-text .copy {
  position: relative;
  display: inline;
  top: -2px;
  margin-left: 2px;
  font-size: 15px;
  font-family: monospace;
}

.gameboy .screen-cont .power {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 100px;
  left: 20px;
  border-radius: 100%;
  background-color: #b98181;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.gameboy .screen-cont .power:before {
  content: "BATTERY";
  position: relative;
  top: 18px;
  left: -10px;
  font-size: 8px;
  font-family: sans-serif;
  color: #aaa;
}

.gameboy .screen-cont .power.power-on {
  background-color: #f00;
  box-shadow: 0 0 3px 1px #ef5350;
}

.gameboy .speakers {
  content: "";
  position: relative;
  height: 40px;
  width: 8px;
  top: 10px;
  left: 340px;
  background: #d5b120;
  border-radius: 4px;
  -webkit-transform: rotate(-25deg);
  box-shadow: 20px 0 #d5b120, 40px 0 #d5b120, 40px 0 #d5b120;
}

.phones {
  position: absolute;
  bottom: 4px;
  left: 50%;
  padding: 3px 5px;
  transform: translateX(-50%);
  color: #bc9c19;
  background-color: #d5b120;
  font-size: 8px;
  font-family: sans-serif;
  text-transform: uppercase;
  border-radius: 30px;
}

.phones:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 5px;
  bottom: -4px;
  background-color: #d5b120;
  left: 9px;
}

.phones:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 5px;
  bottom: -4px;
  left: 12px;
  background-color: #bc9c19;
  box-shadow: 5px 0 #bc9c19;
  border-radius: 4px 4px 0 0;
}

.on-off {
  position: absolute;
  top: 2px;
  left: 20%;
  padding: 3px 5px;
  transform: translateX(-50%);
  color: #bc9c19;
  background-color: #d5b120;
  font-size: 8px;
  font-family: sans-serif;
  text-transform: uppercase;
  border-radius: 30px;
}

.on-off:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 5px;
  top: -2px;
  background-color: #d5b120;
  left: 6px;
}

.on-off:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 5px;
  top: -2px;
  left: 9px;
  background-color: #d5b120;
  box-shadow: 5px 0 #d5b120;
  border-radius: 0 0 3px 3px;
}

.gh-img {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

#game {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  transform: translateY(-30px) scaleY(1.01);
  touch-action: none;
}

#game canvas {
  object-fit: contain;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  height: 100%;
}